
.Stopwatch {
  margin:auto;
  border: 2px solid grey;
  border-radius: 4px;
  width: 600px;
  background-color: blue;
}

.Stopwatch-header {
  font-size: 40px;
  font-weight: bold;
}

button {
  background-color: purple;
  border-radius: 10px;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  margin: 0 5px;
}
button:hover {
  background-color: #106ba3;
}
.Stopwatch button {
  padding: 12px 32px;
  font-size: 20px;
}
.Stopwatch-display {
  margin-left: 160px;
  padding: 40px 0;
  font-size: 48px;
} 
